In [1]:
import pandas as pd

In [2]:
state_fruit = pd.read_csv('data/state_fruit.csv', index_col = 0)
state_fruit

         Apple  Orange  Banana
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190

In [3]:
state_fruit.stack()

Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [4]:
type(state_fruit.stack())

pandas.core.series.Series

In [5]:
state_fruit_tidy = state_fruit.stack().reset_index()
state_fruit_tidy

   level_0 level_1    0
0    Texas   Apple   12
1    Texas  Orange   10
2    Texas  Banana   40
3  Arizona   Apple    9
4  Arizona  Orange    7
5  Arizona  Banana   12
6  Florida   Apple    0
7  Florida  Orange   14
8  Florida  Banana  190

In [6]:
state_fruit_tidy.columns = ['state', 'fruit', 'weight']
state_fruit_tidy

     state   fruit  weight
0    Texas   Apple      12
1    Texas  Orange      10
2    Texas  Banana      40
3  Arizona   Apple       9
4  Arizona  Orange       7
5  Arizona  Banana      12
6  Florida   Apple       0
7  Florida  Orange      14
8  Florida  Banana     190

In [7]:
state_fruit.stack().rename_axis(['state', 'fruit'])

state    fruit
Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [8]:
state_fruit.stack()\
           .rename_axis(['state', 'fruit'])\
           .reset_index(name = 'weight')

     state   fruit  weight
0    Texas   Apple      12
1    Texas  Orange      10
2    Texas  Banana      40
3  Arizona   Apple       9
4  Arizona  Orange       7
5  Arizona  Banana      12
6  Florida   Apple       0
7  Florida  Orange      14
8  Florida  Banana     190

In [9]:
state_fruit2 = pd.read_csv('data/state_fruit2.csv')
state_fruit2

     State  Apple  Orange  Banana
0    Texas     12      10      40
1  Arizona      9       7      12
2  Florida      0      14     190

In [10]:
state_fruit2.stack()

0  State       Texas
   Apple          12
   Orange         10
   Banana         40
1  State     Arizona
   Apple           9
   Orange          7
   Banana         12
2  State     Florida
   Apple           0
   Orange         14
   Banana        190
dtype: object

In [11]:
state_fruit2.set_index('State')\
            .stack()

State
Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [12]:
state_fruit2

     State  Apple  Orange  Banana
0    Texas     12      10      40
1  Arizona      9       7      12
2  Florida      0      14     190

In [13]:
state_fruit2.melt(id_vars = ['State'],
                  value_vars = ['Apple', 'Orange', 'Banana'])

     State variable  value
0    Texas    Apple     12
1  Arizona    Apple      9
2  Florida    Apple      0
3    Texas   Orange     10
4  Arizona   Orange      7
5  Florida   Orange     14
6    Texas   Banana     40
7  Arizona   Banana     12
8  Florida   Banana    190

In [14]:
state_fruit2.melt(id_vars = ['State'],
                  value_vars = ['Apple', 'Orange', 'Banana'],
                  var_name = 'Fruit',
                  value_name = 'Weight')

     State   Fruit  Weight
0    Texas   Apple      12
1  Arizona   Apple       9
2  Florida   Apple       0
3    Texas  Orange      10
4  Arizona  Orange       7
5  Florida  Orange      14
6    Texas  Banana      40
7  Arizona  Banana      12
8  Florida  Banana     190

In [15]:
state_fruit2.melt()

   variable    value
0     State    Texas
1     State  Arizona
2     State  Florida
3     Apple       12
4     Apple        9
5     Apple        0
6    Orange       10
7    Orange        7
8    Orange       14
9    Banana       40
10   Banana       12
11   Banana      190

In [16]:
state_fruit2.melt(id_vars = 'State')

     State variable  value
0    Texas    Apple     12
1  Arizona    Apple      9
2  Florida    Apple      0
3    Texas   Orange     10
4  Arizona   Orange      7
5  Florida   Orange     14
6    Texas   Banana     40
7  Arizona   Banana     12
8  Florida   Banana    190

In [17]:
movie = pd.read_csv('data/movie.csv')
actor = movie[['movie_title',
               'actor_1_name',
               'actor_2_name',
               'actor_3_name',
               'actor_1_facebook_likes',
               'actor_2_facebook_likes',
               'actor_3_facebook_likes']]
actor.head()

,movie_title,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,1000.0,936.0,855.0
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,40000.0,5000.0,1000.0
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000.0,393.0,161.0
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000.0,23000.0,23000.0
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,131.0,12.0,NaN

In [18]:
def change_col_name(col_name):
    col_name = col_name.replace('_name', '')
    if 'facebook' in col_name:
        fb_idx = col_name.find('facebook')
        col_name = col_name[:5] + col_name[fb_idx - 1:] + col_name[5:fb_idx-1]
    return col_name

In [19]:
actor2 = actor.rename(columns = change_col_name)
actor2.head()

,movie_title,actor_1,actor_2,actor_3,actor_facebook_likes_1,actor_facebook_likes_2,actor_facebook_likes_3
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,1000.0,936.0,855.0
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,40000.0,5000.0,1000.0
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000.0,393.0,161.0
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000.0,23000.0,23000.0
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,131.0,12.0,NaN

In [20]:
stubs = ['actor', 'actor_facebook_likes']

In [21]:
actor_2_tidy = pd.wide_to_long(actor2,
                               stubnames = stubs,
                               i = ['movie_title'],
                               j = 'actor_num',
                               sep = '_')
actor_2_tidy.head()

,,actor,actor_facebook_likes
movie_title,actor_num,,
Avatar,1,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,1,Johnny Depp,40000.0
Spectre,1,Christoph Waltz,11000.0
The Dark Knight Rises,1,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,1,Doug Walker,131.0

In [22]:
df = pd.read_csv('data/stackme.csv')
df

  State Country    a1   b2   Test  d  e
0    TX      US  0.45  0.3  Test1  2  6
1    MA      US  0.03  1.2  Test2  9  7
2    ON     CAN  0.70  4.2  Test3  4  2

In [23]:
df2 = df.rename(columns = {'a1':'group1_a1',
                           'b2':'group1_b2',
                           'd':'group2_a1',
                           'e':'group2_b2'})
df2

  State Country  group1_a1  group1_b2   Test  group2_a1  group2_b2
0    TX      US       0.45        0.3  Test1          2          6
1    MA      US       0.03        1.2  Test2          9          7
2    ON     CAN       0.70        4.2  Test3          4          2

In [24]:
pd.wide_to_long(df2,
                stubnames = ['group1', 'group2'],
                i = ['State', 'Country', 'Test'],
                j = 'label',
                suffix = '.+',
                sep = '_')

                           group1  group2
State Country Test  label
TX    US      Test1 a1       0.45       2
                    b2       0.30       6
MA    US      Test2 a1       0.03       9
                    b2       1.20       7
ON    CAN     Test3 a1       0.70       4
                    b2       4.20       2

In [25]:
usecol_func = lambda x: 'UGDS_' in x or x == 'INSTNM'

In [26]:
college = pd.read_csv('data/college.csv',
                      index_col = 'INSTNM',
                      usecols = usecol_func)
college.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [27]:
college_stacked = college.stack()
college_stacked.head(18)

INSTNM
Alabama A & M University             UGDS_WHITE    0.0333
                                     UGDS_BLACK    0.9353
                                     UGDS_HISP     0.0055
                                     UGDS_ASIAN    0.0019
                                     UGDS_AIAN     0.0024
                                     UGDS_NHPI     0.0019
                                     UGDS_2MOR     0.0000
                                     UGDS_NRA      0.0059
                                     UGDS_UNKN     0.0138
University of Alabama at Birmingham  UGDS_WHITE    0.5922
                                     UGDS_BLACK    0.2600
                                     UGDS_HISP     0.0283
                                     UGDS_ASIAN    0.0518
                                     UGDS_AIAN     0.0022
                                     UGDS_NHPI     0.0007
                                     UGDS_2MOR     0.0368
                                     UGDS_NRA      0.0179
                                     UGDS_UNKN     0.0100
dtype: float64

In [28]:
college_stacked.unstack()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137
The University of Alabama,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026
Central Alabama Community College,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019
Athens State University,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334
Auburn University at Montgomery,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246
Auburn University,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009
Faulkner University,0.3874,0.5137,0.0258,0.0042,0.0063,0.0013,0.0173,0.0182,0.0258
Gadsden State Community College,0.6921,0.2076,0.0305,0.0047,0.0128,0.0018,0.0185,0.0150,0.0169
New Beginning College of Cosmetology,0.8957,0.0348,0.0696,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
George C Wallace State Community College-Dothan,0.6273,0.3240,0.0221,0.0072,0.0049,0.0009,0.0126,0.0000,0.0009
George C Wallace State Community College-Hanceville,0.8630,0.0612,0.0362,0.0065,0.0089,0.0000,0.0000,0.0059,0.0183
George C Wallace State Community College-Selma,0.1956,0.7449,0.0026,0.0040,0.0013,0.0000,0.0033,0.0040,0.0443
Herzing University-Birmingham,0.3543,0.5265,0.0166,0.0066,0.0000,0.0000,0.0563,0.0000,0.0397
Huntingdon College,0.6388,0.1993,0.0252,0.0078,0.0122,0.0017,0.0261,0.0061,0.0827
Heritage Christian University,0.7419,0.1129,0.0484,0.0000,0.0323,0.0161,0.0000,0.0161,0.0323
J F Drake State Community and Technical College,0.3337,0.5965,0.0246,0.0082,0.0113,0.0010,0.0185,0.0000,0.0062
Jacksonville State University,0.6834,0.2382,0.0132,0.0055,0.0072,0.0010,0.0000,0.0234,0.0280
Jefferson Davis Community College,0.5857,0.2982,0.0077,0.0252,0.0252,0.0000,0.0184,0.0000,0.0397
Jefferson State Community College,0.6696,0.2246,0.0486,0.0183,0.0024,0.0008,0.0301,0.0054,0.0001
John C Calhoun State Community College,0.6528,0.1940,0.0435,0.0257,0.0182,0.0006,0.0428,0.0062,0.0162
...,...,...,...,...,...,...,...,...,...
Tint School of Makeup & Cosmetology-Seattle,0.5368,0.0737,0.1579,0.0737,0.0105,0.0105,0.0000,0.0105,0.1263
Centro de Estudios Multidisciplinarios-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Heritage College-Cleveland,0.3469,0.5102,0.0408,0.0204,0.0000,0.0000,0.0816,0.0000,0.0000
Aveda Institute-Phoenix,0.6364,0.0341,0.2159,0.0170,0.0455,0.0057,0.0398,0.0000,0.0057
University of North Texas at Dallas,0.1319,0.3358,0.4658,0.0209,0.0049,0.0006,0.0142,0.0129,0.0129
BridgeValley Community & Technical College,0.8967,0.0753,0.0042,0.0069,0.0154,0.0000,0.0000,0.0000,0.0016
Northwest College-Medford,0.7000,0.0000,0.2000,0.0200,0.0400,0.0200,0.0000,0.0000,0.0200
Virginia College-Fort Pierce,0.2565,0.5696,0.1043,0.0043,0.0000,0.0000,0.0043,0.0000,0.0609
Houston Training Schools-Gessner,0.0444,0.1222,0.7444,0.0889,0.0000,0.0000,0.0000,0.0000,0.0000
Empire Beauty School-Buffalo,0.4906,0.3585,0.1132,0.0000,0.0000,0.0000,0.0000,0.0000,0.0377
Paul Mitchell the School-Toledo,0.4211,0.2719,0.0526,0.0000,0.0000,0.1842,0.0351,0.0000,0.0351
MJ's Barber Academy,0.0000,0.9333,0.0667,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Trine University-Arizona Regional Campus,0.5000,0.0714,0.2500,0.0357,0.0000,0.0000,0.0357,0.0000,0.1071
Regency Beauty Institute-Gaithersburg,0.2250,0.3250,0.2750,0.0000,0.0000,0.0000,0.1750,0.0000,0.0000
Georgia Military College,0.4011,0.4460,0.0535,0.0157,0.0128,0.0032,0.0027,0.0024,0.0625
New Horizons Medical Institute-Winder,0.4175,0.5000,0.0388,0.0194,0.0000,0.0000,0.0049,0.0000,0.0194
SAE Institute of Technology-Chicago,0.2797,0.4576,0.1864,0.0085,0.0254,0.0000,0.0000,0.0085,0.0339
Beau Monde College of Hair Design-Beau Monde Academy of Cosmetology,0.6400,0.0800,0.2000,0.0800,0.0000,0.0000,0.0000,0.0000,0.0000
Fayette Beauty Academy-Ritz Beauty Academy,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Fountain of Youth Academy of Cosmetology,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
MCI Institute of Technology-Boca Raton,0.0199,0.2815,0.6854,0.0132,0.0000,0.0000,0.0000,0.0000,0.0000
West Coast University-Miami,0.1522,0.1739,0.6087,0.0217,0.0000,0.0000,0.0435,0.0000,0.0000
National American University-Houston,0.1858,0.6443,0.0672,0.0079,0.0079,0.0000,0.0751,0.0000,0.0119
Aparicio-Levy Technical College,0.2431,0.1215,0.6243,0.0055,0.0055,0.0000,0.0000,0.0000,0.0000
Fred D. Learey Technical College,0.3731,0.1388,0.3080,0.0000,0.0000,0.0000,0.0022,0.0000,0.1779
Hollywood Institute of Beauty Careers-West Palm Beach,0.2182,0.4182,0.2364,0.0182,0.0000,0.0000,0.0000,0.0182,0.0909
Hollywood Institute of Beauty Careers-Casselberry,0.1200,0.3333,0.4400,0.0000,0.0000,0.0000,0.0400,0.0000,0.0667
Coachella Valley Beauty College-Beaumont,0.3284,0.1045,0.4925,0.0149,0.0299,0.0149,0.0149,0.0000,0.0000
Dewey University-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Coastal Pines Technical College,0.6762,0.2508,0.0359,0.0045,0.0034,0.0017,0.0191,0.0028,0.0056

In [29]:
college2 = pd.read_csv('data/college.csv',
                       usecols = usecol_func)
college2.head()

,INSTNM,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
0,Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
1,University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
2,Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
3,University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
4,Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [30]:
college_melted = college2.melt(id_vars = 'INSTNM',
                               var_name = 'Race',
                               value_name = 'Percentage')
college_melted.head()

                                INSTNM        Race  Percentage
0             Alabama A & M University  UGDS_WHITE      0.0333
1  University of Alabama at Birmingham  UGDS_WHITE      0.5922
2                   Amridge University  UGDS_WHITE      0.2990
3  University of Alabama in Huntsville  UGDS_WHITE      0.6988
4             Alabama State University  UGDS_WHITE      0.0158

In [31]:
melted_inv = college_melted.pivot(index = 'INSTNM',
                                  columns = 'Race',
                                  values = 'Percentage')
melted_inv.head()

Race,UGDS_2MOR,UGDS_AIAN,UGDS_ASIAN,UGDS_BLACK,UGDS_HISP,UGDS_NHPI,UGDS_NRA,UGDS_UNKN,UGDS_WHITE
INSTNM,,,,,,,,,
A & W Healthcare Educators,0.0000,0.0,0.0000,0.9750,0.0250,0.0,0.0000,0.0000,0.0000
A T Still University of Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC Beauty Academy,0.0000,0.0,0.9333,0.0333,0.0333,0.0,0.0000,0.0000,0.0000
ABC Beauty College Inc,0.0000,0.0,0.0000,0.6579,0.0526,0.0,0.0000,0.0000,0.2895
AI Miami International University of Art and Design,0.0018,0.0,0.0018,0.0198,0.4773,0.0,0.0025,0.4644,0.0324

In [32]:
college2_replication  = melted_inv.loc[college2['INSTNM'],
                                       college2.columns[1:]
                                       ].reset_index()
college2_replication

,INSTNM,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
0,Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
1,University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
2,Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
3,University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
4,Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137
5,The University of Alabama,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026
6,Central Alabama Community College,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019
7,Athens State University,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334
8,Auburn University at Montgomery,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246
9,Auburn University,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140
10,Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
11,Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
12,Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
13,South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
14,Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
15,James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009
16,Faulkner University,0.3874,0.5137,0.0258,0.0042,0.0063,0.0013,0.0173,0.0182,0.0258
17,Gadsden State Community College,0.6921,0.2076,0.0305,0.0047,0.0128,0.0018,0.0185,0.0150,0.0169
18,New Beginning College of Cosmetology,0.8957,0.0348,0.0696,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19,George C Wallace State Community College-Dothan,0.6273,0.3240,0.0221,0.0072,0.0049,0.0009,0.0126,0.0000,0.0009
20,George C Wallace State Community College-Hance...,0.8630,0.0612,0.0362,0.0065,0.0089,0.0000,0.0000,0.0059,0.0183
21,George C Wallace State Community College-Selma,0.1956,0.7449,0.0026,0.0040,0.0013,0.0000,0.0033,0.0040,0.0443
22,Herzing University-Birmingham,0.3543,0.5265,0.0166,0.0066,0.0000,0.0000,0.0563,0.0000,0.0397
23,Huntingdon College,0.6388,0.1993,0.0252,0.0078,0.0122,0.0017,0.0261,0.0061,0.0827
24,Heritage Christian University,0.7419,0.1129,0.0484,0.0000,0.0323,0.0161,0.0000,0.0161,0.0323
25,J F Drake State Community and Technical College,0.3337,0.5965,0.0246,0.0082,0.0113,0.0010,0.0185,0.0000,0.0062
26,Jacksonville State University,0.6834,0.2382,0.0132,0.0055,0.0072,0.0010,0.0000,0.0234,0.0280
27,Jefferson Davis Community College,0.5857,0.2982,0.0077,0.0252,0.0252,0.0000,0.0184,0.0000,0.0397
28,Jefferson State Community College,0.6696,0.2246,0.0486,0.0183,0.0024,0.0008,0.0301,0.0054,0.0001
29,John C Calhoun State Community College,0.6528,0.1940,0.0435,0.0257,0.0182,0.0006,0.0428,0.0062,0.0162
...,...,...,...,...,...,...,...,...,...,...
7505,Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7506,Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7507,Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7508,L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7509,National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7510,Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7511,Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7512,Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7513,Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7514,Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7515,Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7516,Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7517,Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7518,Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7519,Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7520,Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7521,Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7522,Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7523,Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7524,Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7525,Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7526,Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7527,Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7528,WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7529,Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7530,SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7531,Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7532,National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7533,Bay Area Medical Academy - San Jose Satellite ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7534,Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
college.stack().unstack(0)

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,MCI Institute of Technology-Boca Raton,West Coast University-Miami,National American University-Houston,Aparicio-Levy Technical College,Fred D. Learey Technical College,Hollywood Institute of Beauty Careers-West Palm Beach,Hollywood Institute of Beauty Careers-Casselberry,Coachella Valley Beauty College-Beaumont,Dewey University-Mayaguez,Coastal Pines Technical College
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,0.0199,0.1522,0.1858,0.2431,0.3731,0.2182,0.1200,0.3284,0.0,0.6762
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,0.2815,0.1739,0.6443,0.1215,0.1388,0.4182,0.3333,0.1045,0.0,0.2508
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,0.6854,0.6087,0.0672,0.6243,0.3080,0.2364,0.4400,0.4925,1.0,0.0359
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,0.0132,0.0217,0.0079,0.0055,0.0000,0.0182,0.0000,0.0149,0.0,0.0045
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,0.0000,0.0000,0.0079,0.0055,0.0000,0.0000,0.0000,0.0299,0.0,0.0034
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0149,0.0,0.0017
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,0.0000,0.0435,0.0751,0.0000,0.0022,0.0000,0.0400,0.0149,0.0,0.0191
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0182,0.0000,0.0000,0.0,0.0028
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,0.0000,0.0000,0.0119,0.0000,0.1779,0.0909,0.0667,0.0000,0.0,0.0056

In [34]:
college.stack().unstack(-1)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137
The University of Alabama,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026
Central Alabama Community College,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019
Athens State University,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334
Auburn University at Montgomery,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246
Auburn University,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009
Faulkner University,0.3874,0.5137,0.0258,0.0042,0.0063,0.0013,0.0173,0.0182,0.0258
Gadsden State Community College,0.6921,0.2076,0.0305,0.0047,0.0128,0.0018,0.0185,0.0150,0.0169
New Beginning College of Cosmetology,0.8957,0.0348,0.0696,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
George C Wallace State Community College-Dothan,0.6273,0.3240,0.0221,0.0072,0.0049,0.0009,0.0126,0.0000,0.0009
George C Wallace State Community College-Hanceville,0.8630,0.0612,0.0362,0.0065,0.0089,0.0000,0.0000,0.0059,0.0183
George C Wallace State Community College-Selma,0.1956,0.7449,0.0026,0.0040,0.0013,0.0000,0.0033,0.0040,0.0443
Herzing University-Birmingham,0.3543,0.5265,0.0166,0.0066,0.0000,0.0000,0.0563,0.0000,0.0397
Huntingdon College,0.6388,0.1993,0.0252,0.0078,0.0122,0.0017,0.0261,0.0061,0.0827
Heritage Christian University,0.7419,0.1129,0.0484,0.0000,0.0323,0.0161,0.0000,0.0161,0.0323
J F Drake State Community and Technical College,0.3337,0.5965,0.0246,0.0082,0.0113,0.0010,0.0185,0.0000,0.0062
Jacksonville State University,0.6834,0.2382,0.0132,0.0055,0.0072,0.0010,0.0000,0.0234,0.0280
Jefferson Davis Community College,0.5857,0.2982,0.0077,0.0252,0.0252,0.0000,0.0184,0.0000,0.0397
Jefferson State Community College,0.6696,0.2246,0.0486,0.0183,0.0024,0.0008,0.0301,0.0054,0.0001
John C Calhoun State Community College,0.6528,0.1940,0.0435,0.0257,0.0182,0.0006,0.0428,0.0062,0.0162
...,...,...,...,...,...,...,...,...,...
Tint School of Makeup & Cosmetology-Seattle,0.5368,0.0737,0.1579,0.0737,0.0105,0.0105,0.0000,0.0105,0.1263
Centro de Estudios Multidisciplinarios-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Heritage College-Cleveland,0.3469,0.5102,0.0408,0.0204,0.0000,0.0000,0.0816,0.0000,0.0000
Aveda Institute-Phoenix,0.6364,0.0341,0.2159,0.0170,0.0455,0.0057,0.0398,0.0000,0.0057
University of North Texas at Dallas,0.1319,0.3358,0.4658,0.0209,0.0049,0.0006,0.0142,0.0129,0.0129
BridgeValley Community & Technical College,0.8967,0.0753,0.0042,0.0069,0.0154,0.0000,0.0000,0.0000,0.0016
Northwest College-Medford,0.7000,0.0000,0.2000,0.0200,0.0400,0.0200,0.0000,0.0000,0.0200
Virginia College-Fort Pierce,0.2565,0.5696,0.1043,0.0043,0.0000,0.0000,0.0043,0.0000,0.0609
Houston Training Schools-Gessner,0.0444,0.1222,0.7444,0.0889,0.0000,0.0000,0.0000,0.0000,0.0000
Empire Beauty School-Buffalo,0.4906,0.3585,0.1132,0.0000,0.0000,0.0000,0.0000,0.0000,0.0377
Paul Mitchell the School-Toledo,0.4211,0.2719,0.0526,0.0000,0.0000,0.1842,0.0351,0.0000,0.0351
MJ's Barber Academy,0.0000,0.9333,0.0667,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Trine University-Arizona Regional Campus,0.5000,0.0714,0.2500,0.0357,0.0000,0.0000,0.0357,0.0000,0.1071
Regency Beauty Institute-Gaithersburg,0.2250,0.3250,0.2750,0.0000,0.0000,0.0000,0.1750,0.0000,0.0000
Georgia Military College,0.4011,0.4460,0.0535,0.0157,0.0128,0.0032,0.0027,0.0024,0.0625
New Horizons Medical Institute-Winder,0.4175,0.5000,0.0388,0.0194,0.0000,0.0000,0.0049,0.0000,0.0194
SAE Institute of Technology-Chicago,0.2797,0.4576,0.1864,0.0085,0.0254,0.0000,0.0000,0.0085,0.0339
Beau Monde College of Hair Design-Beau Monde Academy of Cosmetology,0.6400,0.0800,0.2000,0.0800,0.0000,0.0000,0.0000,0.0000,0.0000
Fayette Beauty Academy-Ritz Beauty Academy,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Fountain of Youth Academy of Cosmetology,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
MCI Institute of Technology-Boca Raton,0.0199,0.2815,0.6854,0.0132,0.0000,0.0000,0.0000,0.0000,0.0000
West Coast University-Miami,0.1522,0.1739,0.6087,0.0217,0.0000,0.0000,0.0435,0.0000,0.0000
National American University-Houston,0.1858,0.6443,0.0672,0.0079,0.0079,0.0000,0.0751,0.0000,0.0119
Aparicio-Levy Technical College,0.2431,0.1215,0.6243,0.0055,0.0055,0.0000,0.0000,0.0000,0.0000
Fred D. Learey Technical College,0.3731,0.1388,0.3080,0.0000,0.0000,0.0000,0.0022,0.0000,0.1779
Hollywood Institute of Beauty Careers-West Palm Beach,0.2182,0.4182,0.2364,0.0182,0.0000,0.0000,0.0000,0.0182,0.0909
Hollywood Institute of Beauty Careers-Casselberry,0.1200,0.3333,0.4400,0.0000,0.0000,0.0000,0.0400,0.0000,0.0667
Coachella Valley Beauty College-Beaumont,0.3284,0.1045,0.4925,0.0149,0.0299,0.0149,0.0149,0.0000,0.0000
Dewey University-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Coastal Pines Technical College,0.6762,0.2508,0.0359,0.0045,0.0034,0.0017,0.0191,0.0028,0.0056

In [35]:
college

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137
The University of Alabama,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026
Central Alabama Community College,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019
Athens State University,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334
Auburn University at Montgomery,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246
Auburn University,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009
Faulkner University,0.3874,0.5137,0.0258,0.0042,0.0063,0.0013,0.0173,0.0182,0.0258
Gadsden State Community College,0.6921,0.2076,0.0305,0.0047,0.0128,0.0018,0.0185,0.0150,0.0169
New Beginning College of Cosmetology,0.8957,0.0348,0.0696,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
George C Wallace State Community College-Dothan,0.6273,0.3240,0.0221,0.0072,0.0049,0.0009,0.0126,0.0000,0.0009
George C Wallace State Community College-Hanceville,0.8630,0.0612,0.0362,0.0065,0.0089,0.0000,0.0000,0.0059,0.0183
George C Wallace State Community College-Selma,0.1956,0.7449,0.0026,0.0040,0.0013,0.0000,0.0033,0.0040,0.0443
Herzing University-Birmingham,0.3543,0.5265,0.0166,0.0066,0.0000,0.0000,0.0563,0.0000,0.0397
Huntingdon College,0.6388,0.1993,0.0252,0.0078,0.0122,0.0017,0.0261,0.0061,0.0827
Heritage Christian University,0.7419,0.1129,0.0484,0.0000,0.0323,0.0161,0.0000,0.0161,0.0323
J F Drake State Community and Technical College,0.3337,0.5965,0.0246,0.0082,0.0113,0.0010,0.0185,0.0000,0.0062
Jacksonville State University,0.6834,0.2382,0.0132,0.0055,0.0072,0.0010,0.0000,0.0234,0.0280
Jefferson Davis Community College,0.5857,0.2982,0.0077,0.0252,0.0252,0.0000,0.0184,0.0000,0.0397
Jefferson State Community College,0.6696,0.2246,0.0486,0.0183,0.0024,0.0008,0.0301,0.0054,0.0001
John C Calhoun State Community College,0.6528,0.1940,0.0435,0.0257,0.0182,0.0006,0.0428,0.0062,0.0162
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
college.T

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,Strayer University-North Dallas,Strayer University-San Antonio,Strayer University-Stafford,WestMed College - Merced,Vantage College,SAE Institute of Technology San Francisco,Rasmussen College - Overland Park,National Personal Training Institute of Cleveland,Bay Area Medical Academy - San Jose Satellite Location,Excel Learning Center-San Antonio South
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
college.transpose()

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,Strayer University-North Dallas,Strayer University-San Antonio,Strayer University-Stafford,WestMed College - Merced,Vantage College,SAE Institute of Technology San Francisco,Rasmussen College - Overland Park,National Personal Training Institute of Cleveland,Bay Area Medical Academy - San Jose Satellite Location,Excel Learning Center-San Antonio South
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# test whether lower case t also works for transpose
college.t

AttributeError: 'DataFrame' object has no attribute 't'

In [39]:
#1
employee = pd.read_csv('data/employee.csv')
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22

In [40]:
employee.groupby('RACE')['BASE_SALARY'].mean().astype(int)

RACE
American Indian or Alaskan Native    60272
Asian/Pacific Islander               61660
Black or African American            50137
Hispanic/Latino                      52345
Others                               51278
White                                64419
Name: BASE_SALARY, dtype: int64

In [41]:
agg = employee.groupby(['RACE', 'GENDER'])['BASE_SALARY']\
              .mean().astype(int)

agg

RACE                               GENDER
American Indian or Alaskan Native  Female    60238
                                   Male      60305
Asian/Pacific Islander             Female    63226
                                   Male      61033
Black or African American          Female    48915
                                   Male      51082
Hispanic/Latino                    Female    46503
                                   Male      54782
Others                             Female    63785
                                   Male      38771
White                              Female    66793
                                   Male      63940
Name: BASE_SALARY, dtype: int64

In [42]:
agg.unstack('GENDER')

GENDER                             Female   Male
RACE
American Indian or Alaskan Native   60238  60305
Asian/Pacific Islander              63226  61033
Black or African American           48915  51082
Hispanic/Latino                     46503  54782
Others                              63785  38771
White                               66793  63940

In [43]:
agg.unstack('RACE')

RACE,American Indian or Alaskan Native,Asian/Pacific Islander,Black or African American,Hispanic/Latino,Others,White
GENDER,,,,,,
Female,60238,63226,48915,46503,63785,66793
Male,60305,61033,51082,54782,38771,63940

In [44]:
agg2 = employee.groupby(['RACE', 'GENDER'])['BASE_SALARY']\
               .agg(['mean', 'max', 'min'])\
               .astype(int)

# agg2 = agg2.replace(r"(?!^)(?=(?:\d{3})+$)", ",")
#converting floats to look like int with 1000 separator
# agg2['new_column_name'] = agg2['mean'].map('{:,.0f}'.format)

agg2

                                           mean     max    min
RACE                              GENDER
American Indian or Alaskan Native Female  60238   98536  26125
                                  Male    60305   81239  26125
Asian/Pacific Islander            Female  63226  130416  26125
                                  Male    61033  163228  27914
Black or African American         Female  48915  150416  24960
                                  Male    51082  275000  26125
Hispanic/Latino                   Female  46503  126115  26125
                                  Male    54782  165216  26104
Others                            Female  63785   63785  63785
                                  Male    38771   38771  38771
White                             Female  66793  178331  27955
                                  Male    63940  210588  26125

In [45]:
agg2.columns

Index(['mean', 'max', 'min'], dtype='object')

In [46]:
agg2

                                           mean     max    min
RACE                              GENDER
American Indian or Alaskan Native Female  60238   98536  26125
                                  Male    60305   81239  26125
Asian/Pacific Islander            Female  63226  130416  26125
                                  Male    61033  163228  27914
Black or African American         Female  48915  150416  24960
                                  Male    51082  275000  26125
Hispanic/Latino                   Female  46503  126115  26125
                                  Male    54782  165216  26104
Others                            Female  63785   63785  63785
                                  Male    38771   38771  38771
White                             Female  66793  178331  27955
                                  Male    63940  210588  26125

In [49]:
agg2.unstack('GENDER')

                                    mean            max            min
GENDER                            Female   Male  Female    Male Female   Male
RACE
American Indian or Alaskan Native  60238  60305   98536   81239  26125  26125
Asian/Pacific Islander             63226  61033  130416  163228  26125  27914
Black or African American          48915  51082  150416  275000  24960  26125
Hispanic/Latino                    46503  54782  126115  165216  26125  26104
Others                             63785  38771   63785   38771  63785  38771
White                              66793  63940  178331  210588  27955  26125

In [52]:
agg2.unstack?